		<!-- Footer section -->
		<div style="margin-top:50px"></div>
		<footer class="footer">
			<div class="container">


				<div class="row">

				<!-- Contact info about company -->
				<div class="col-sm-8">
					<h3 class="heading-info heading-info--mobile">%%LNG_FooterContactUs%%:</h3>
					<!-- Contact information about company -->
						<address class="contact-info contact-info--list">
							<div class="row">
								<div class="col-xs-6 col-sm-12 one-column">
									<a href="#" class="contact-info__item" target="_blank">
										<i class="fa fa-location-arrow"></i>
										%%LNG_FooterAddress%%
									</a>
									<a class="contact-info__item" href="#">
										<i class="fa fa-mobile"></i>
										%%LNG_FooterPhone%%
									</a>
								</div>

								<div class="col-xs-6 col-sm-12 one-column">
									<a class="contact-info__item" href="%%Config.HomePath%%/page.php?p=contact">
										<i class="fa fa-envelope"></i>
										%%GLOBAL_SiteEmail%%
									</a>
								</div>
							</div>
						</address>
						<!-- end contact information -->
				</div>
				<!-- end contact info -->

				<!-- Social links -->
				<div class="col-sm-4">
				<h3 class="heading-info heading-info--mobile">%%LNG_FooterSocialLinks%%:</h3>
					<div class="social social--default">
						<!-- List with social icons -->
						<ul>
							<li class="social__item"><a class="social__link" href="https://www.facebook.com/" target="_blank"><i class="social__icon fa fa-facebook"></i></a></li>
							<li class="social__item"><a class="social__link" href="https://plus.google.com/" target="_blank"><i class="social__icon fa fa-google-plus"></i></a></li>
							<li class="social__item"><a class="social__link" href="http://www.linkedin.com/" target="_blank"><i class="social__icon fa fa-linkedin"></i></a></li>
							<li class="social__item"><a class="social__link" href="http://www.youtube.com/" target="_blank"><i class="social__icon fa fa-youtube"></i></a></li>
						</ul>
					</div>
				</div>
				<!-- end social links -->
				</div><!-- end row -->

				<div class="copy">
					%%LNG_FooterRules%%
					<br/>
					%%LNG_FooterPoweredBy%%
				</div>

			</div><!-- end container -->
		</footer>
		<!-- end footer section -->

